# These owners will be the default owners for everything in the repo.
* @adeelahmadkreditech @claaslisowski @ganeshkreditech @julioavero-kreditech @robert-savu @spieszko @KeremTokgozKreditech @karol-olczak-kreditech @banklekyim @felipecosta-kreditech